html,
body,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

:root {
    --light-blue: #2998ef;
    --dark-blue: #0068b8;
    --red: #ff3030;
    --dark-red: #bb0000;
    --primary: var(--light-blue);
    --secondary: var(--dark-blue);
}
.blue {
    --primary: var(--light-blue);
    --secondary: var(--dark-blue);
}
.red {
    --primary: var(--light-red);
    --secondary: var(--dark-red);
}
.one {
    background-color: var(--primary);
}
.two {
    background-color: var(--secondary);
    height: 90vh;
}
h1{
    font-size: var(--h1);
}
.section-title {
    font-size: var(--h1);
}

.column {
display:flex;
width: 90%;
height: 85%;
flex-wrap:wrap;
align-items: center;
justify-content:space-around;
margin: 10rem auto;
}
.card {
height: 500px;
width: 350px;
border:2px solid #000;
margin: 10px;
background-color: rgb(206, 98, 35);
display:flex;
flex-direction: column;
align-items: top;
align-items: center;
justify-content: space-around;
border-radius: 20px;
}
